# Project specific
inputs/*
outputs/*
cnn_dataset/*
!outputs/.gitkeep
!cnn_dataset/.gitkeep

# Gradio
.gradio/
temp_gradio_input.png

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/
.env

# Model Weights
*.pth
*.pt

# IDEs / OS
.vscode/
.idea/
.DS_Store
